.btnMicOutside{
  border: 2px solid red;
  padding: 0;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnMic {
	border: none;
  padding: 0;
  border-radius: 100%;
  width: 30px;
  height: 30px;
//   font-size: 3em;
//   color: #fff;
//   padding: 0;
//   margin: 0;
//   background: red;
	position: relative;
	z-index: 999;
  display: inline-block;
    line-height: 100px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.pulse-ring {
  content: '';
  width: 30px;
  height: 30px;
background: red;
  border: 5px solid red;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: pulsate infinite 1.5s;
}

.pulse-ring.delay{
	// animation-delay: 1s;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
   transform: scale(1.3, 1.3);
    opacity: 0;
  }
}



.m-left{
	margin-left: 100px * 3;
}

.type2{
	background: red;
}

.type2 .pulse-ring{
	background: transparent;
}
.container {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
	height: 200px;
	background-color: #d8d8d8;
    margin-bottom: 2%;
}
.main-container{
    display: flex;
    flex-direction: column;
}