
<div>
  <video #videoElement class="w-100" [hidden]="hideVideo" [controls]="recording" muted autoplay></video>
  <div *ngIf="recording"  [hidden]="hideVideo"  class="ms-2">{{ recordingTime }}</div>
  <button #recordButton [hidden]="hideVideo" (click)="startRecording()" class="btn btn-primary">
    Start Recording
  </button>
  <button #StoprecordButton [hidden]="hideVideo" (click)="stopRecording()" class="btn btn-danger ms-2" disabled>
    Stop Recording
  </button>
 
</div>
<button [hidden]="!hideVideo" data-bs-dismiss="modal"   (click)="uploadVideo()" class="btn btn-danger ms-2">
  Upload 
  </button>